<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery Land Company</title>
    <link rel="stylesheet" href="../style/about_dlc.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="https://discoverylandco.com/logo-dark.svg" 
            alt="Discovery Land Company" 
            onclick="window.location.href='../view/dashboard.html';" >
        </div>
        <div class="nav-links">
            <a href="about_dlc.html">About DLC</a>
            <a href="#">Our Worlds</a>
            <a href="#">Experiences</a>
            <a href="#">Company</a>
            <a href="#">Gallery</a>
            <i class="ri-menu-fill menu-icon"></i>
        </div>
        <button class="menu-toggle" aria-label="Toggle Menu">
            <span></span>
            <span></span>
        </button>
    </nav>

    <main class="hero">
      
      
      <!-- Hero Content -->
      <div class="hero-content">
          <h1>
              <span class="Create">Creating your</span>
              <span class="perfect">perfect world</span>
          </h1>
      </div>
  
      <!-- Scroll Indicator -->
      <div class="scroll-indicator">
          <span>Scroll to explore</span>
          <div class="scroll-arrow">↓</div>
      </div>
  </main>
  <script src="../script/about_dlc.js"></script>

</body>
</html>
